/*
	Theme Name: Streamline Theme
	Theme URL: http://themecrunch.blogspot.com/2010/03/studiopress-genesis-theme-framework-and.html
	Description: Streamline is a 2 or 3-column Widget-ready child theme created for the Genesis Theme Framework.
	Author: StudioPress
	Author URI: http://themecrunch.blogspot.com/2010/03/studiopress-genesis-theme-framework-and.html
	Version: 1.0
	Tags: black, gray, blue, white, two-columns, three-columns, left-sidebar, right-sidebar, fixed-width, theme-options, threaded-comments, translation-ready
	
	Template: genesis

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

body {
	background: #FFFFFF url(images/bg.png) repeat-x;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0 auto 0;
	padding: 0;
	line-height: 20px;
	}
	
/***** Hyperlinks ********************/

a, a:visited {
	color: #2255AA;
	text-decoration: none;
	}
	
a:hover {
	color: #2255AA;
	text-decoration: underline;
	}
	
a img {
	border: none;
	}
	
a:focus, a:hover, a:active {
	outline: none;
	}

/***** Wrap ********************/

#wrap {
	margin: 0 auto 0;
	padding: 0;
	}
	
/***** TopNav ********************/

#topnav {
	width: 960px;
	height: 30px;
	color: #DDDDDD;
	margin: 0 auto 0;
	padding: 0;
	text-transform: uppercase;
	}
	
#topnav a, #topnav a:visited {
	font-size: 11px;
	font-weight: bold;
	color: #DDDDDD;
	text-decoration: none;
	}
	
#topnav a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
#topnav p {
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	}
	
.topnav-left {
	width: 255px;
	float: left;
	margin: 0px;
	padding: 5px 0 0 0;
	}
	
.topnav-right {
	width: 700px;
	float: right;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: right;
	}
	
.topnavbarright a img {
	border: none;
	margin: 0 3px 1px 0;
	padding: 0;
	}
	
.rss-topnav {
	padding: 2px 5px 2px 16px;
	background: url(images/rss.png) no-repeat left center;
	}	
	
/***** Header  ********************/

#header {
	width: 960px; 
	height: 80px;
	margin: 0 auto 0;
	padding: 0;
	}
	
#header .wrap {
	}

#title-area {
	width: 480px;
	float: left;
	margin: 0; 
	padding: 20px 0 0 0;
	overflow: hidden;
	}
	
#title-area #title {
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	margin: 0; 
	padding: 0;
	}
	
#title-area #title a {
	color: #FFFFFF;
	margin: 0; 
	padding: 0;
	text-decoration: none;
	}
	
#title-area #title a:hover {
	color: #FFFFFF;
	text-decoration: none;
	}
	
#title-area #description {
	color: #FFFFFF;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	margin: 0; 
	padding: 0;
	}

#header .widget-area {
	width: 470px;
	color: #FFFFFF;
	float: right;
	margin: 0; 
	padding: 0;
	}
	
#header .widget-area p {
	margin: 0;
	padding: 0 0 5px 0;
	}
	
#header .textwidget {
	margin: 0;
	padding: 15px 0 0 0;
	}
	
#header .widget-area h4 {
	color: #CCCCCC;
	font-size: 14px;
	font-weight: normal;
	margin: 15px 0 0 0; 
	padding: 0;
	text-decoration: none;
	}
	
#header .widget-area ul {
	margin: 0;
	padding: 0;
	}
	
#header .widget-area ul li {
	list-style-type: square;
	margin: 0 0 0 20px;
	padding: 0;
	}
	
/***** Image Header - Partial Width ********************/

.header-image #header #title-area {
	background: url(images/logo.png) left top no-repeat;
	}

.header-image #title-area, .header-image #title-area #title, .header-image #title-area #title a {
	display: block; 
	float: left;
	width: 310px;
	height: 80px;
	margin: 0; 
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
	}
	
.header-image #title-area #description {
	display: block;
	width: 0; 
	height: 0;
	overflow: hidden;
	}

/***** Image Header - Full Width ********************/

.header-full-width #title-area, .header-full-width #title-area #title, .header-full-width #title-area #title a {
	width: 960px;
	}
	
/***** Header Pages/Category Widget Menu ********************/

#header ul.nav {
	background: #222222;
	width: auto;
	float: right;
	list-style: none;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 20px 0 0 0;
	padding: 0 10px 0 10px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow: hidden;
	}
	
#header ul.nav li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#header ul.nav li a {
	color: #CCCCCC;
	display: block;
    margin: 0;
	padding: 10px 12px 10px 12px;
	text-decoration: none;
	border-right: 1px solid #333333;
	position: relative;
	}

#header ul.nav li a:hover, #header ul.nav li a:active, #header ul.nav .current_page_item a {
	background: url(images/navhov.png) top right;
	color: #FFFFFF;
	}
	
#header ul.nav li a.sf-with-ul {
	padding-right: 20px;
	}	
	
#header ul.nav li a .sf-sub-indicator {
	background: url(images/arrow-down.png);
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 15px;
	right: 5px;
	}
	
#header ul.nav li li a, #header ul.nav li li a:link, #header ul.nav li li a:visited {
	background: #000000;
	color: #FFFFFF;
	width: 158px; 
	font-size: 12px;
	margin: 0 0 0 -1px;
	padding: 6px 10px 6px 10px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	position: relative;
	}
	
#header ul.nav li li a:hover, #header ul.nav li li a:active {
	background: #222222;
	}

#header ul.nav li li a .sf-sub-indicator {
	background: url(images/arrow-right.png);
	top: 10px;
	}

#header ul.nav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 180px;
	margin: 0;
	padding: 0;
	}

#header ul.nav li ul a { 
	width: 160px;
	}

#header ul.nav li ul a:hover, #header ul.nav li ul a:active { 
	}

#header ul.nav li ul ul {
	margin: -33px 0 0 179px;
	}

#header ul.nav li:hover ul ul, #header ul.nav li:hover ul ul ul, #header ul.nav li.sfHover ul ul, #header ul.nav li.sfHover ul ul ul {
	left: -999em;
	}

#header ul.nav li:hover ul, #header ul.nav li li:hover ul, #header ul.nav li li li:hover ul, #header ul.nav li.sfHover ul, #header ul.nav li li.sfHover ul, #header ul.nav li li li.sfHover ul {
	left: auto;
	}

#header ul.nav li:hover, #header ul.nav li.sfHover { 
	position: static;
	}

/***** Nav Menu ********************/

#nav {
	width: 940px;
	background: #222222;
	color: #FFFFFF;
	font-size: 14px;
	margin: 10px auto 10px;
	padding: 0 10px 0 10px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow: hidden;
	}

#nav .wrap {
	}
	
#nav ul {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#nav li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#nav li a {
	color: #CCCCCC;
	display: block;
    margin: 0;
	padding: 10px 12px 10px 12px;
	text-decoration: none;
	border-right: 1px solid #333333;
	position: relative;
	}

#nav li a:hover, #nav li a:active, #nav .current_page_item a {
	background: url(images/navhov.png) top right;
	color: #FFFFFF;
	}
	
#nav li a.sf-with-ul {
	padding-right: 20px;
	}	
	
#nav li a .sf-sub-indicator {
	background: url(images/arrow-down.png);
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 15px;
	right: 5px;
	}
	
#nav li li a, #nav li li a:link, #nav li li a:visited {
	background: #000000;
	color: #FFFFFF;
	width: 158px; 
	font-size: 12px;
	margin: 0 0 0 -1px;
	padding: 6px 10px 6px 10px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	position: relative;
	}
	
#nav li li a:hover, #nav li li a:active {
	background: #222222;
	}

#nav li li a .sf-sub-indicator {
	background: url(images/arrow-right.png);
	top: 10px;
	}

#nav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 180px;
	margin: 0;
	padding: 0;
	}

#nav li ul a { 
	width: 160px;
	}

#nav li ul a:hover, #nav li ul a:active { 
	}

#nav li ul ul {
	margin: -33px 0 0 179px;
	}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul {
	left: -999em;
	}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfHover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul {
	left: auto;
	}

#nav li:hover, #nav li.sfHover { 
	position: static;
	}
	
#nav li.right {
	float: right;
	margin: 0;
	padding: 10px 5px 0 10px;
	}

#nav li.right a {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	}
	
#nav li.right a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
#nav li.date {
	}
	
#nav li.rss a {
	background: url(images/rss.png) no-repeat left center;
	margin: 0 0 0 10px;
	padding: 3px 0 3px 16px;
	}
	
#nav li.search {
	padding: 0;
	}
	
#nav li.twitter a {
	background: url(images/twitter-nav.png) no-repeat left center;
	padding: 3px 0 1px 20px;
	}
	
/***** SubNav Menu ********************/

#subnav {
	clear: both;
	width: 960px;
	height: 31px;
	background: #333333;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0 auto 0;
	padding: 0;
	border-bottom: 1px solid #666666;
	}

#subnav .wrap {
	}
	
#subnav ul {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#subnav li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#subnav li a {
	background: #333333;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
    margin: 0;
	padding: 6px 10px 5px 10px;
	text-decoration: none;
	border-right: 1px solid #666666;
	position: relative;
	}

#subnav li a:hover, #subnav li a:active, #subnav .current_page_item a {
	background: #000000;
	color: #FFFFFF;
	}
	
#subnav li a.sf-with-ul {
	padding-right: 20px;
	}	
	
#subnav li a .sf-sub-indicator {
	background: url(images/arrow-down.png);
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 11px;
	right: 5px;
	}
	
#subnav li li a, #subnav li li a:link, #subnav li li a:visited {
	background: #333333;
	color: #FFFFFF;
	width: 158px; 
	font-size: 11px;
	margin: 0;
	padding: 6px 10px 6px 10px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	position: relative;
	}
	
#subnav li li a:hover, #subnav li li a:active {
	background: #000000;
	}

#subnav li li a .sf-sub-indicator {
	background: url(images/arrow-right.png);
	top: 10px;
	}

#subnav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 180px;
	margin: 0;
	padding: 0;
	}

#subnav li ul a { 
	width: 160px;
	}

#subnav li ul a:hover, #subnav li ul a:active { 
	}

#subnav li ul ul {
	margin: -33px 0 0 179px;
	}

#subnav li:hover ul ul, #subnav li:hover ul ul ul, #subnav li.sfHover ul ul, #subnav li.sfHover ul ul ul {
	left: -999em;
	}

#subnav li:hover ul, #subnav li li:hover ul, #subnav li li li:hover ul, #subnav li.sfHover ul, #subnav li li.sfHover ul, #subnav li li li.sfHover ul {
	left: auto;
	}

#subnav li:hover, #subnav li.sfHover { 
	position: static;
	}

/***** Inner ********************/

#inner {
	width: 920px;
	background: #FFFFFF;
	margin: 30px auto 10px;
	padding: 20px 20px 10px 20px;
	border: 2px solid #BBBBBB;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
	}
	
/***** Inner Backgrounds ********************/

.content-sidebar #inner {
    }
   
.sidebar-content #inner {
    }
   
.content-sidebar-sidebar #inner {
    }
   
.sidebar-sidebar-content #inner {
    }
    
.sidebar-content-sidebar #inner {
    }

.full-width-content #inner {
    }
    
/***** Homepage ********************/
   
#homepage {
	width: 640px;
	float: left;
	margin: 0;
	padding: 0;
	}
	
#dfcg-widget {
	margin: 0 0 30px 0;
	}
	
#content #homepage h2 {
	font-weight: normal !important;
	}
	
#content #homepage h4 {
	font-size: 18px;
	margin: 0px;
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #CCCCCC;
	}
	
#homepage .featuredpost, #homepage .featuredpage {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	}
	
#homepage .featuredpost .post, #homepage .featuredpage .page {
	margin: 0;
	padding: 10px 0 5px 0;
	border-bottom: 1px dotted #CCCCCC;
	overflow: auto;
	}
	
#homepage .featuredpost .avatar, #homepage .featuredpage .avatar {
	margin: 0;
	padding: 4px;
	border: 1px solid #DDDDDD;
	}
	
#homepage .featuredpost img, #homepage .featuredpage img {
	background: #FFFFFF;
	margin: 0;
	padding: 4px;
	border: 1px solid #DDDDDD;
	}
	
#content #featured-post .post {
	margin: 0px;
	}
	
/***** Breadcrumb ********************/

.breadcrumb {
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	padding: 0 0 5px 0;
	border-bottom: 2px solid #333333;
	}

/***** Content-Sidebar Wrapper ********************/

#content-sidebar-wrap {
	width: 750px;
	margin: 0;
	padding: 0;
	float: left;
	}

.sidebar-content #content-sidebar-wrap, .content-sidebar #content-sidebar-wrap {
	width: 920px;
	}

.sidebar-sidebar-content #content-sidebar-wrap, .sidebar-content-sidebar #content-sidebar-wrap {
	float: right;
	}

/***** Content ********************/

#content {
	width: 470px;
	margin: 0;
	padding: 0;
	float: left;
	}

.sidebar-content #content, .sidebar-sidebar-content #content {
	float: right;
	}

.sidebar-content #content, .content-sidebar #content {
	width: 640px;
	}
	
.full-width-content #content {
	width: 920px;
	}

#content blockquote {
	background: #F7F7F7;
	margin: 0 15px 15px 15px;
	padding: 10px 20px 0 15px;
	border: 1px solid #CCCCCC;
	}

#content .post {
	margin: 0 0 40px 0;
	padding: 0;
	}
	
#content .entry-content {
	overflow: auto;
	}
	
#content .entry-content .post-image {
	padding: 4px;
	border: 1px solid #CCCCCC;
	}
	
#content .post p {
	margin: 0;
	padding: 0 0 10px 0;
	}
	
#content .post ul {
	list-style-type: square;
	margin: 0;
	padding: 0 0 15px 0;
	}
	
#content .post ul li {
	list-style-type: square;
	margin: 0 0 0 20px;
	padding: 0;
	}
	
#content .post ul ul {
	list-style-type: square;
	margin: 0;
	padding: 0;
	}
	
#content .post ol {
	margin: 0;
	padding: 0 0 15px 0;
	}
	
#content .post ol li {
	margin: 0 0 0 20px;
	padding: 0;
	}
	
#content .post ol ol {
	margin: 0;
	padding: 0;
	}
	
#content .sticky {
	background: #F7F7F7;
	margin: 0 0 40px 0;
	padding: 10px;
	border: 1px solid #CCCCCC;
	}
	
#content .post-image {
	margin: 0 10px 10px 0;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}
	
#content .archive-page {
	float: left;
	width: 50%;
	margin: 0;
	padding: 20px 0;
	}

.clear {
	clear: both;
	}
	
/***** Post Info ********************/
	
.post-info {
	font-size: 11px;
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
	text-transform: uppercase;
	border-top: 1px dotted #CCCCCC;
	}
	
.post-info p {
	margin: 0;
	padding: 0;
	}
	
/***** Post Meta ********************/
	
.post-meta {
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	border-top: 2px solid #333333;
	}
	
/***** Author Box ********************/
	
.author-box {
	background: #EEEEEE;
	margin: 0 0 40px 0;
	padding: 10px;
	border: 1px solid #CCCCCC;
	overflow: auto;
	}
	
.author-box p {
	margin: 0;
	padding: 0;
	}
	
.author-box img {
	background: #FFFFFF;
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}

/***** Headlines in Content ********************/

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	color: #333333;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-weight: normal;
	text-decoration: none;
	margin: 0 0 5px 0;
	padding: 0;
	}

#content h1 {
	font-size: 20px;
	}
	
#content h2 {
	font-size: 18px;
	}
	
#content h2 a, #content h2 a:visited {
	color: #333333;
	text-decoration: none;
	}
	
#content h2 a:hover {
	color: #2255AA;
	text-decoration: none;
	}
	
#content h3 {
	font-size: 16px;
	}
	
#content h4 {
	font-size: 14px;
	}
	
#content h5 {
	font-size: 12px;
	}
	
#content h6 {
	font-size: 10px;
	}
	
/***** Post Icons ********************/
	
.time {
	margin: 0;
	padding: 0;
	}
	
.post-comments {
	background: #FFFFFF url(images/icon-dot.gif) no-repeat top left;
	margin: 0px 0px 0px 3px;
	padding: 0px 0px 2px 10px;
	}
	
.categories {
	margin: 0;
	padding: 0;
	}
	
.tags {
	background: #FFFFFF url(images/icon-dot.gif) no-repeat top left;
	margin: 0px 0px 0px 3px;
	padding: 0px 0px 2px 10px;
	}

/***** Images ********************/

img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0;
	}
	
img.alignnone {
	padding: 0;
	margin: 0 0 10px 0;
	display: inline;
	}
	
img.alignleft {
	padding: 0;
	margin: 0 10px 10px 0;
	display: inline;
	}

img.alignright {
	padding: 0;
	margin: 0 0 10px 10px;
	display: inline;
	}
	
.aligncenter {
	display: block;
	margin: 0 auto 10px;
	}
	
.alignleft {
	float: left;
	margin: 0 10px 0 0;
	}

.alignright {
	float: right;
	margin: 0 0 0 10px;
	}

.wp-caption {
	background: #F7F7F7;
	text-align: center;
	padding: 5px 0 0 1px;
	border: 1px solid #CCCCCC;
	}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0;
	}

.wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	}
	
img.wp-smiley, img.wp-wink {
	float: none;
	border: none;
	margin: 0;
	padding: 0;
	}

/***** Post Navigation **********/

.navigation {
	width: 100%;
	margin: 0;
	padding: 20px 0 20px 0;
	overflow: auto;
	}
	
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.navigation li {
	display: inline;
	}

.navigation li a {
	color: #2255AA;
	padding: 5px 8px 5px 8px;
	border: 1px solid #CCCCCC;
	}

.navigation li a:hover {
	background: #333333;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	}

.navigation li.disabled {
	margin: 0;
	padding: 5px 8px 5px 8px;
	border: 1px solid #CCCCCC;
	}

.navigation li.active a {
	background: #333333;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	}

/***** Sidebar & Sidebar-Alt ********************/

#sidebar {
	width: 260px;
	float: right;
	margin: 0;
	padding: 0;
	display: inline;
	}
	
#sidebar-bottom {
	width: 260px;
	float: right;
	margin: 0;
	padding: 0;
	display: inline;
	}

#sidebar-bottom-left {
	width: 125px;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	}

#sidebar-bottom-right {
	width: 125px;
	float: right;
	margin: 0;
	padding: 0;
	display: inline;
	}
	
#sidebar-alt {
	width: 150px;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	}

.sidebar-content #sidebar, .sidebar-sidebar-content #sidebar {
	float: left;
	}
	
.content-sidebar-sidebar #sidebar-alt {
	float: right;
	}

#sidebar .widget, #sidebar-alt .widget {
	background: url(images/sidebar.png) repeat-x;
	margin: 0 0 10px 0;
	padding: 4px;
	border: 1px solid #333333;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
#sidebar h2, #sidebar h2 a, #sidebar-alt h2, #sidebar-alt h2 a {
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}
	
#sidebar h2 a:hover, #sidebar-alt h2 a:hover {
	color: #2255AA;
	text-decoration: none;
	}

#sidebar h4, #sidebar-alt h4 {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 3px 0 3px 7px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
#sidebar .widget p, #sidebar-alt .widget p {
	margin: 0;
	padding: 0;
	}
	
#sidebar .textwidget p, #sidebar-alt .textwidget p {
	margin: 0;
	padding: 10px 10px 0 10px;
	}

#sidebar img, #sidebar a img, #sidebar-alt img, #sidebar-alt a img {
	border: none;
	margin: 0;
	padding: 0;
	}

#sidebar ul, #sidebar ol, #sidebar-alt ul, #sidebar-alt ol {
	list-style-type: square;
	margin: 5px 0 0 0;
	padding: 0 10px 0 20px;
	}

#sidebar ul ul, #sidebar ol ol, #sidebar-alt ul ul, #sidebar-alt ol ol {
	margin: 0;
	padding: 0 0 0 15px;
	}

#sidebar li, #sidebar-alt li {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	}

/***** Sidebar(s) Tag Cloud ********************/

#sidebar .widget_tag_cloud div div, #sidebar-alt .widget_tag_cloud div div {
	padding: 5px 10px 0 10px;
	}
	
/***** Sidebar(s) Category Dropdown ********************/
	
#cat {
	background: #FFFFFF;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 10px 0 5px 5px;
	padding: 3px;
	display: inline;
	border: 1px solid #CCCCCC;
	}
	
#sidebar #cat {
	width: 238px;
	}
	
#sidebar-alt #cat {
	width: 128px;
	}

/***** Sidebar(s) Featured Post/Page ********************/

#sidebar .featuredpost, #sidebar .featuredpage, #sidebar-alt .featuredpost, #sidebar-alt .featuredpage {
	margin: 0 0 15px 0;
	padding: 0;
	clear: both;
	}
	
#sidebar .featuredpost .post, #sidebar .featuredpage .page, #sidebar-alt .featuredpost .post, #sidebar-alt .featuredpage .page {
	margin: 0;
	padding: 10px 10px 5px 10px;
	}
	
#sidebar .featuredpost .avatar, #sidebar .featuredpage .avatar, #sidebar-alt .featuredpost .avatar, #sidebar-alt .featuredpage .avatar {
	margin: 0;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}
	
#sidebar .featuredpost img, #sidebar .featuredpage img, #sidebar-alt .featuredpost img, #sidebar-alt .featuredpage img {
	margin: 0;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}

/***** Sidebar(s) User Profile ********************/

#sidebar .user-profile, #sidebar-alt .user-profile {
	overflow: auto;
	}

#sidebar .user-profile .avatar, #sidebar-alt .user-profile .avatar {
	background: #F7F7F7;
	float: left;
	margin: 0;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}
	
#sidebar .user-profile p, #sidebar-alt .user-profile p {
	margin: 0;
	padding: 10px 10px 0 10px;
	}

#sidebar .user-profile .posts_link, #sidebar-alt .user-profile .posts_link {
	margin: 0;
	padding: 0 0 10px 10px;
	}
	
/***** Search Form(s) ********************/

.searchform {
	margin: 0;
	}

#header .searchform {
	float: right;
	padding: 40px 0 0 0;
	}
	
#sidebar .searchform {
	padding: 0 10px 5px 5px;
	}
	
#nav .searchform {
	float: right;
	padding: 6px 0 0 0;
	}
	
.s {
	background: #FFFFFF !important;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;	
	font-size: 11px;
	margin: 5px 5px 0 0;
	padding: 4px 0 4px 5px;
	border: 1px solid #CCCCCC;
	}
	
#header .s, #sidebar .s {
	width: 155px;
	}
	
#nav .s {
	background: #393939 !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	width: 210px;
	color: #CCCCCC;
	font-size: 14px;
	font-family: Arial, Tahoma, Verdana;
	padding: 5px;
	margin: 0 3px 0 0;
	border: 1px solid #111111;
	}
	
#sidebar-alt .s {
	width: 80px;
	}

.searchsubmit {
	background: #1A1A1A;
	color: #CCCCCC;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #111111;
	}

.searchsubmit:hover {
	background: #000000;
	border: 1px solid #000000;
	}
	
#nav .searchsubmit {
	font-size: 14px;
	}

/***** eNews & Updates Widget ********************/

.enews {
	background: url(images/enews.png) top right no-repeat;
	margin: 0;
	padding: 0;
	}
	
#header .enews {
	float: right;
	width: 280px;
	margin: 10px 0 0 0;
	padding: 0;
	}
	
#sidebar .enews {
	margin: 0;
	padding: 0 0 5px 0;
	}
	
#sidebar .enews p {
	margin: 0;
	padding: 10px 5px 0 5px;
	}

.enews #subscribe {
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
	
#sidebar .enews #subscribe {
	padding: 0 0 0 5px;
	}
	
.enews #subbox {
	background: #FFFFFF !important;
	width: 190px;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;	
	font-size: 11px;
	margin: 5px 5px 0 0;
	padding: 4px 0 4px 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #CCCCCC;
	}
	
#header .enews #subbox {
	margin: 0 5px 0 0;
	}
	
.enews #subbutton {
	background: #333333;
	color: #CCCCCC;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #222222;
	}
	
.enews #subbutton:hover {
	background: #000000;
	border: 1px solid #000000;
	}

/***** Latest Tweets Widget********************/

#header .latest-tweets {
	background: url(images/twitter.png) top right no-repeat;
	color: #FFFFFF;
	margin: 10px 0 0 0;
	padding: 0 20px 0 0;
	}
	
#header .latest-tweets a, #header .latest-tweets a:visited {
	color: #CCCCCC;
	text-decoration: underline;
	}
	
#header .latest-tweets a:hover {
	color: #FFFFFF;
	text-decoration: none;
	}

.latest-tweets {
	background: url(images/twitter.png) top right no-repeat;
	margin: 10px 0 0 0;
	padding: 0;
	}

/***** Calendar ********************/

#wp-calendar {
	margin: 0;
	padding: 0;
	width: 100%;
	}
	
#footer-widgeted #wp-calendar a, #footer-widgeted #wp-calendar a:visited {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
#footer-widgeted #wp-calendar a:hover {
	color: #FFFFFF;
	text-decoration: none;
	}

#wp-calendar caption {
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding: 2px 5px 0 0;
	text-align: right;
	}
	
#sidebar #wp-calendar caption {
	color: #333333;
	}
	
#footer-widgeted #wp-calendar caption {
	color: #FFFFFF;
	}
	
#sidebar #wp-calendar th {
	color: #333333;
	}
	
#footer-widgeted #wp-calendar th {
	color: #FFFFFF;
	}

#wp-calendar th {
	color: #333333;
	}

#wp-calendar thead {
	margin: 10px 0 0 0;
	font-weight: bold;
	color: #F7F7F7 !important;
	}
	
#sidebar #wp-calendar thead {
	background: #F7F7F7 !important;
	color: #F7F7F7 !important;
	}
	
#footer-widgeted #wp-calendar thead {
	color: #FFFFFF;
	text-shadow: #000000 1px 1px;
	}

#wp-calendar td {
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 2px;
	}

#wp-calendar tfoot td {
	background: none;
	margin: 0;
	padding: 0;
	}
	
/***** Contact Form ********************/
	
.gform_footer .button {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0;
	padding: 1px 5px 1px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
.gform_footer .button:hover {
	background: #000000;
	border: 1px solid #000000;
	}
	
.gform_footer input.button {
	color: #FFFFFF !important;
	}
	
.gform_wrapper .gform_footer {
	border: none!important;
	}
	
/***** Footer Widgeted ********************/
	
#footer-widgeted {
	background: #222222 url(images/footer.png) repeat-x;
	color: #CCCCCC;
	font-size: 11px;
	margin: 0 auto 0;
	padding: 0 0 10px 0;
	overflow: auto;
	clear: both;
	}
	
#footer-widgeted .wrap {
	width: 960px;
	margin: 0 auto 0;
	}
	
#footer-widgeted .widget {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	}
	
#footer-widgeted h4 {
	color: #999999;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	padding: 0;
	}
	
#footer-widgeted p {
	color: #CCCCCC;
    font-weight: normal;
	margin: 0;
	padding: 0 0 10px 0;
	}
	
#footer-widgeted a, #footer-widgeted a:visited {
	color: #CCCCCC;
	text-decoration: none;
	}
	
#footer-widgeted a:hover {
	color: #CCCCCC;
	text-decoration: underline;
	}
	
#footer-widgeted ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
#footer-widgeted ul li {
	list-style-type: square;
	margin: 0 0 0 20px;
	padding: 0;
	}

.footer-widgeted-1 {
	width: 225px;
	float: left;
	margin: 0;
	padding: 20px 20px 5px 0;
	}
	
.footer-widgeted-2 {
	width: 225px;
	float: left;
	margin: 0;
	padding: 20px 20px 5px 0;
	}
	
.footer-widgeted-3 {
	width: 225px;
	float: left;
	margin: 0;
	padding: 20px 20px 5px 0;
	}
	
.footer-widgeted-4 {
	width: 225px;
	float: right;
	margin: 0;
	padding: 20px 0 5px 0;
	}

/***** Footer ********************/

#footer {
	overflow: auto;
	background: #111111;
	color: #CCCCCC;
	font-size: 11px;
	margin: 0 auto 0;
	padding: 10px 0 10px 0;
	border-top: 2px solid #000000;
	}

#footer .wrap {
	width: 960px;
	margin: 0 auto 0;
	}
	
#footer a, #footer a:visited {
	color: #CCCCCC;
	text-decoration: none;
	}
	
#footer a:hover {
	color: #CCCCCC;
	text-decoration: underline;
	}
	
#footer p {
	margin: 0;
	padding: 0;
	}

#footer .gototop {
	width: 215px;
	float: left;
	margin: 0;
	padding: 0;
	}
	
#footer .gototop a {
	margin: 0;
	padding: 2px 0 2px 18px;
	background: url(images/footer-top.png) no-repeat left center;
	}
	
#footer .creds {
	width: 740px;
	float: right;
	margin: 0;
	padding: ;
	text-align: right;
	}

/***** Comments ********************/

.comments {
	font-size: 12px;
	margin: 0;
	padding: 0;
	}
	
#respond {
	margin: 0 0 15px 0;
	padding: 0;
	}

#author, #email, #url {
	background: #F7F7F7 !important;
	width: 250px;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	padding: 3px 0 3px 3px;
	margin: 5px 5px 0 0;
	border: 1px solid #CCCCCC;
	}
	
#comment {
	background: #F7F7F7 !important;
	width: 98%;
	height: 150px;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	padding: 3px 0 3px 3px;
	margin: 5px 0 5px 0;
	border: 1px solid #CCCCCC;
	}
	
#submit {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0;
	padding: 2px 5px 2px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
#submit:hover {
	background: #000000;
	border: 1px solid #000000;
	}
	
.comment-list {
	margin: 0;
	padding: 0;
	}
	
.ping-list {
	margin: 0 0 40px 0;
	padding: 0;
	}
	
.comment-list ol, .ping-list ol {
	margin: 0;
	padding: 10px;
	}

.comment-list li, .ping-list li {
	font-weight: bold;
	margin: 15px 0 5px 0;
	padding: 10px 5px 10px 10px;
	list-style: none;
	}
	
.comment-list li ul li { 
	margin-right: -6px;
	margin-left: 10px;
	}

.comment-list p, .ping-list p {
	font-weight: normal;
	text-transform: none;
	margin: 10px 5px 10px 0;
	padding: 0;
	}

.comment-list li .avatar { 
	background: #F7F7F7;
	float: right;
	border: 1px solid #CCCCCC;
	margin: 0 5px 0 10px;
	padding: 4px;
	}

.comment-list cite, .comment-list cite a, .ping-list cite, .ping-list cite a {
	font-weight: bold;
	font-style: normal;
	}

.commentmetadata {
	font-size: 11px;
	font-weight: normal;
	}

#respond:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
	
.alt {
	margin: 0;
	padding: 10px;
	}
	
.children { 
	margin: 0;
	padding: 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}
	
.reply a, .reply a:visited {
	background: #333333;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0;
	padding: 2px 5px 3px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
.reply a:hover {
	background: #000000;
	text-decoration: none;
	border: 1px solid #000000;
	}

#comments .navigation {
	display: block;
	margin: 10px 0 0 0;
	}

.thread-alt, .thread-even {
	background: #F7F7F7;
	margin: 0;
	padding: 0;
	}

.depth-1 {
	border: 1px solid #CCCCCC;
	margin: 0;
	padding: 0;
	}

.even, .alt {
	border: 1px solid #CCCCCC;
	margin: 0;
	padding: 0;
	}