/* $Id: blocks.css,v 1.10 2011/01/14 03:12:40 jmburnz Exp $ */

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
}

.block-inner    {
} /* Block inner div */
.block-title    {} /* h2 block title */
.block .content {

} /* Block content wrapper */


/**********************************************************
 *                  Sidebar blocks
 **********************************************************/
/**
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}
.sidebar .block-title {}
.sidebar .block-inner {}
.sidebar .block .content {}

/* Low specifity selector to style blocks in one sidebar. */
.region-sidebar-first .block {}
.region-sidebar-first .block-title {}
.region-sidebar-first .block-inner {}
.region-sidebar-first .block .content {}

.region-sidebar-second .block {}
.region-sidebar-second .block-title {}
.region-sidebar-second .block-inner {}
.region-sidebar-second .block .content {}

/* Very high specifity selectors to style blocks in one sidebar. */
#sidebar-first .block {

}
#sidebar-first .block-title {
border: #dddddd;
background-color:#000000;
color:#ffffff;
font-weight:bold;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;

}
#sidebar-first .block-inner {}
#sidebar-first .block .content {
padding-left:5px;
padding-right:5px;
border:1px solid #DDDDDD;
}

#sidebar-second .block {

}
#sidebar-second .block-title {
border: #dddddd;
background-color:#000000;
color:#ffffff;
font-weight:bold;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;}
#sidebar-second .block-inner {}
#sidebar-second .block .content {
padding-left:5px;
padding-right:5px;
border:1px solid #DDDDDD;}


/**********************************************************
 *                  Region blocks
 **********************************************************/
/* Low specifity selector to style blocks in all regions. */
.region .block {}
.region .block-title {}
.region .block-inner {}
.region .block .content {}

/* Low specifity selector to style blocks in one region. */
.region-leaderboard .block {}
.region-leaderboard .block-title {}
.region-leaderboard .block-inner {}
.region-leaderboardt .block .content {}

.region-header .block {}
.region-header .block-title {}
.region-header .block-inner {}
.region-header .block .content {}

.region-help .block {}
.region-help .block-title {}
.region-help .block-inner {}
.region-help .block .content {}

.region-highlight .block {}
.region-highlight .block-title {}
.region-highlight .block-inner {}
.region-highlight .block .content {}

.region-content .block {}
.region-content .block-title {}
.region-content .block-inner {}
.region-content .block .content {}

.region-secondary-content .block {}
.region-secondary-content .block-title {}
.region-secondary-content .block-inner {}
.region-secondary-content .block .content {}

.region-tertiary-content .block {}
.region-tertiary-content .block-title {}
.region-tertiary-content .block-inner {}
.region-tertiary_content .block .content {}

.region-footer .block {}
.region-footer .block-title {}
.region-footer .block-inner {}
.region-footer .block .content {}


/**********************************************************
 *                   Module blocks
 **********************************************************/
/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */

#block-system-main                 {} /* The Main Content block  */
#block-book-navigation             {} /* Book navigation block   */
#block-node-recent                 {} /* Recent posts            */
#block-blog-recent                 {} /* Recent Blog posts       */
#block-comment-recent              {} /* Recent Comments block   */
#block-forum-active                {} /* Active Forum topics     */
#block-forum-new                   {} /* New Forum topics        */
#block-locale-language             {} /* Language Switcher block */
#block-node-syndicate              {} /* Syndicate block         */
#block-poll-recent                 {} /* Most recent poll        */
#block-profile-author-information  {} /* Author information      */
#block-statistics-popular          {} /* Popular content         */
#block-system-help                 {} /* Help block        */
#block-system-management           {} /* Management block        */
#block-system-powered-by           {} /* Powered by Drupal       */
#block-user-login                  {
text-align: center;
} /* Login block             */
#block-system-navigation           {} /* Navigation Menu block   */
#block-user-new                    {} /* Who's New block         */
#block-user-online                 {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-main-menu-links   {}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-system     {}
.block-user       {}
.block-node       {}
.block-blog       {}
.block-poll       {}
.block-book       {}
.block-comment    {}
.block-locale     {}
.block-aggregator {}
.block-devel      {}


/**********************************************************
 *                 Search block form
 **********************************************************/
#block-search-form {}
#block-search-form .block-inner {}
#block-search-form .block .content {}

#search-block-form {}

/* Wrapper divs. */
#search-block-form > div {

}
#search-block-form .container-inline {

}

#search-block-form .form-item-search-block-form {

}

#search-block-form label {

}
#search-block-form input {
font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #777;
  background: #ebebeb url("images/input_bg.png") left top no-repeat;
  border: 1px solid #a2a2a2;
  -moz-border-radius: 2px; /* FF1+ */
  -webkit-border-radius: 2px; /* Saf3+, Chrome */
  -khtml-border-radius: 2px; /* Konqueror */
  border-radius: 2px; /* Standard. IE9 */
   width:200px;
   padding-left:10px;
  }
#search-block-form .form-item {

}
#search-block-form .form-submit {
  font-family: Arial, sans-serif;
  font-size:1em;
  color: #fff;
  background:#598200;
  padding: 4px 5px;
  /* border: 1px solid #a74505; */
  border: 0;
  -moz-border-radius: 2px; /* FF1+ */
  -webkit-border-radius: 2px; /* Saf3+, Chrome */
  -khtml-border-radius: 2px; /* Konqueror */
  border-radius: 2px; /* Standard. IE9 */
  cursor: pointer;
width:80px;
}
#search-block-form #edit-search-block-form-2 {}

/* Override forms.css focus style */
#edit-search-block-form-2:hover,
#edit-search-block-form-2:focus {}


/**********************************************************
 *                   Block item-list
 **********************************************************/
.block .item-list ul {
  margin: 0;
}
.block .item-list ul li {}


/**********************************************************
 *                  Gpanel blocks
 **********************************************************/
/* Debug Gpanel blocks */
.gpanel .block {}
.gpanel .block-inner {}



