/* $Id: comments.css,v 1.3 2010/01/11 07:32:49 jmburnz Exp $ */

/**
 * @file comments.css
 * Basic styles for comments.
 */

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comment-wrapper {

}
h2#comment-wrapper-title {
margin-bottom: 1em;
}
	
.comment {
border:1px solid #dddddd;
  margin: 0 0 1em;
  padding:5px;
  
}

/* Over-ride default .inner styles. */
.comment-inner {

}

.comment .indented {
  margin-left: 2em; /* LTR */
}

/* The title of each comment. */
.comment-title {
font-size:14px;
font-weight:bold;
text-decoration: none;
color:#53004B;
background-color:#000000;
}

.comment-id {}
.comment-title .new {color: #FF8000;}

.comment-title a:link
{
font-size:14px;
font-weight:bold;
text-decoration: none;
color:#ffffff;
padding:2px 2px 2px 10px;
}
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {
width:30px;
height:20px;
float: right; /* RTL */
margin: 0.3em 0 0.1em 0.5em; /* LTR */
}

.comment .user-picture img {
background: url("images/icon_avatar.png") 15px 15px no-repeat;
}

.comment-submitted {
padding-bottom:4px;
  margin: 4px 0 ;
  font-size: 0.771em;
  line-height: 1.2;
  border-bottom:1px solid #DDDDDD;
}

.comment-submitted a {
color:#000000;

}
.comment-submitted a:hover {}

/* Comment content wrapper. */
.comment-content {
  font-size: 1.1em;
  line-height: 1.6;
  border-bottom:1px solid #dddddd;
  margin-bottom:3px;
}

.comment .links {
  font-size:10px;
  text-align: right; /* LTR */
  clear: both;
  color:#222222;
}
.comment .links a{
padding:2px;
background-color:#598200;
color:#ffffff;
}
/* Zebra styles for comments. */
.comment.odd  {
background-color:#F7F3E8;
}
.comment.even {}

/* Style comments depending on the comment author. */
.comment-by-node-author {}
.comment-by-anon   {}
.comment-mine      {}

/* Theme comment status. */
.comment .unpublished {}


