/* $Id: html-elements.css,v 1.5 2011/01/14 03:12:40 jmburnz Exp $ */

/**
 * @file html-elements.css
 * Contains basic styles for type, lists, forms and tables.
 */

 /*********************************************************
*                        Type
**********************************************************/
/**
 * Global Font Size
 *
 * All modern browsers set a base font of 16px, therefore
 * the default value of 1em = 16px. We reduce this to 12px.
 *
 * 75% of 16px. (0.75 * 16px = 12px).
 * 1em now is equal to 12 pixels. E.g.
 * 2em   = 24px
 * 1.5em = 18px
 * 1em   = 12px
 * 0.5em = 6px
 *
 * You may find these "px to em" calculators helpful;
 * http://riddle.pl/emcalc/
 * http://pxtoem.com/
 */

html {
  font-size: 75%;
}

body {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
  line-height: 1.5;

}

h1 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

h2 {
  font-size: 1.5em; 
}

h3 {
  font-size: 1.333em;
}

h4 {
  font-size: 1.167em;
}

h5, h6 {
  font-size: 1em;
}

/* The main title on each page. */
h1#page-title {
padding-left:20px;
font-size:18px;
font-weight:bold;
color:#2C5700;
}

/* Micro reset */
h1, h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img,
em, dfn, del, ins {
  margin: 0; 
  padding: 0;
}

p {
  margin: 0 0 0.75em; 
  padding: 0;
}

blockquote p {
  margin: 0;
}

strong {
  font-weight: bold;
}

em, dfn {
  font-style: italic; 
}

dfn {
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}

del {
  color: #666; 
}

ins {
  border-bottom: none;
  text-decoration: none;
}

pre, code {
  margin: 1.5em 0; 
  padding: 0; 
  white-space: pre;
}

pre, code, tt {
  font: 1em "Andale Mono", "Lucida Console", monospace;
}

p code {
  font: 1em "Courier New", Courier, monospace;
}

/* Preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

/* Mitigate relative shrinkage */
li li, li p, td p, blockquote p {
  font-size: 1em;
}

blockquote, q {
  font-style: italic;  /* LTR */
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;  /* LTR */
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, 
blockquote:after, 
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
 a {
 
  margin: 0; 
  padding: 0;
}

a:link,
a:visited {
color:#006699;
text-decoration:none;
}

a:hover,
a:focus,
a:active  {}

a.active  {}
a.active-trail {}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {
  padding:2px;
  float:left;
  border: none;
  margin-right:5px;
}


/*********************************************************
*                     Lists
**********************************************************/
ul, ol {
  margin: 0 0 1.5em 1.75em; /* LTR */
  padding: 0;
}

li {
  margin: 0; 
  padding: 0;
}

/* Set nested list indentation */
ul ul, ul ol,
ol ol, ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}

/* Set nested list list-style-types */
ul          {list-style-type: disc;}
ul ul       {list-style-type: circle;}
ul ul ul    {list-style-type: square;}
ul ul ul ul {list-style-type: circle;}
ol          {list-style-type: decimal;}
ol ol       {list-style-type: lower-alpha;}
ol ol ol    {list-style-type: decimal;}

dt {font-weight: bold;}
dd {margin: 0 0 1.5em 1.75em;} /* LTR */

.item-list ul, 
.item-list ol {
  margin: 0 0 0 1.75em; /* LTR */
  padding: 0;  
}

.item-list ul li {}


/*********************************************************
*                     Form elements
**********************************************************/
form {
  margin: 0 0 1.5em 0; 
  padding: 0;
}

input {
}

input.text, 
input.title,
textarea, 
select {
  margin:0.375em 0; 
  border: 1px solid #C0C0C0;
}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {
  border: 1px solid #666;
}

input.text, 
input.title {
  padding: 0.375em;
}

input.title {
  font-size: 1.5em;
}

input.form-text, 
textarea {
  border: 1px solid #CCC;
  height: auto; 
  padding: 0.1875em 0;
}

input.form-checkbox, 
input.form-radio {
  vertical-align: top;
}

div.form-item {
  margin-bottom: 1em; 
  margin-top: 1em;
}

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.1875em;
}

.form-item .description {
  font-size: 0.9em; 
  line-height: 1.667em;
}

span.form-required, 
span.marker {
  color: #8A1F11;
}

div.form-item div.description img {
  margin: 0;
}

#node-admin-filter ul {
  padding: 0.375em 0;
}

#edit-operation-wrapper select {
  margin: 0.375em;
}

label, legend {
  margin: 0; 
  padding: 0;
}

/* Fieldsets */
fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 1.5em 0;
  padding: 0.75em;
}

/* Targets IE 7. Fixes background image in field sets (if one is set). */
*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 .75em;
  padding: 0 1em 0.75em;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}

/* Fix legend in Firefox */
fieldset legend {
  display: block;
  font-weight: bold;
		padding: 0 1em 0 0;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-bottom: .75em;
  padding-top: 0;
}


/**********************************************************
 *                   Tables
 **********************************************************/
table {
  border-spacing: 0;
  margin: 1em 0; 
  padding: 0; 
  width: 100%;
}

caption, th, td {
  font-weight: normal;
  text-align: left; /* LTR */
}

table, td, th {
  vertical-align: middle;
}

tbody, tfoot, thead, tr {
  margin: 0; 
  padding: 0;
}

thead th {
  border-bottom: 0.1875em solid #C0C0C0; 
  color: #494949;
  font-weight: bold; 
}

td, th {
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0.375em 0.5em; 
}

tr.even,
tr.odd,
tbody th {
  /* border-bottom: 1px solid #CCC; System default */
}

tr.odd, 
tr.info {
  background-color: #F5F5F5;
}

tr.even {
  background-color: #FFF;
}

tr.drag {
  background-color: #FFFFF0;
}

tr.drag-previous  {
  background-color: #FFD;
}

tr.odd td.active  {
  background-color: #EEE;
}

tr.even td.active {
  background-color: #F7F7F7;
}

td.region, 
td.module, 
td.container td.category {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  border-top: 1.5em solid #FFF;
  color: #222;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {
  border-top-width: 0;
}

/* Table links */
table a:link
{
font-size:14px;
font-weight:bold;
text-decoration: none;
color: #461D7C;
} 
table a:visited {
color: #461D7C;
text-decoration: none;
}
table a:visited, 
table a.active  {}


