/* $Id: nodes.css,v 1.4 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                      Nodes
 **********************************************************/

.node {
  margin: 0 0 1.5em;
  padding:10px;
  border-bottom:2px solid #DDDDDD;
}

/* Inner DIV */
.node-inner {

}

/* Title */
.node-title {
border-bottom:2px solid #AFD775;
}
.node-title a {
  font-size:14px;
  font-weight:bold;
  text-decoration: none;
  color:#024769;
  
}

.node-title a:hover,
.node-title a:focus {
  color:#F2583E;
  font-size:14px;
  text-decoration: none;
}

/* User picture */
.node .user-picture {
  float: right;
  margin: 0.3em 0 0.5em 1em;
}

/* Submitted */
.node-submitted {
font-size:10px;
margin-bottom:10px;
}
.node-submitted span {
}
.node-submitted a    {}

/* Node content wrapper */
.node-content {
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:14px;

}

/* Links */
.node-links {
font-size:11px;}
.node-links ul.links {}
.node-links ul.links li {}
.node-links ul.links li a{}

/* Page view */
.node-view {}

/* Teaser view */
.node-teaser {}

/* Sticky */
.node-sticky {
border:1px solid #DDDDDD;
background-color:#f5fffa;
}

/* Promoted */
.node-promoted {}

/* Status */
.node-unpublished {}
 
/* Theme nodes that belong to the author */
.node-mine {}


/**********************************************************
 *                   Core node types
 **********************************************************/
.node-article {}
.node-blog    {
}
.node-page    {}
.node-forum   {}
.node-book    {}
.node-poll    {}


/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}

