/* $Id: page.css,v 1.13 2011/01/14 03:12:40 jmburnz Exp $ */

/**********************************************************
 *                    Body Classes
 **********************************************************/

body {
  padding: 0 10px;
  margin: 0;
  background-image:url(images/body.png);
}
	
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/
/**
 * Width Setting
 *
 * Genesis supports Elastic, Fluid and Fixed width values.
 * - Elastic layouts expand or contract when the font size is changed. 
 * - Fluid widths change when the browser is resized.
 * - Fixed width layouts stay the same even when the browser
 *   is resized or the font size is changed.
 *
 * Elastic layouts use ems,       e.g. 80em
 * Fluid layouts use percentages, e.g. 85%
 * Fixed widths use pixels,       e.g. 960px
 */
#container {
 
  width: 80%;
  min-width: 960px;
  height: 90%;
  background-color:#ffffff;
}

/* Column wrappers */
#columns {

}
.columns-inner {

}

/* Content wrappers */
#content-column {}
.content-inner {}

/* Main content wrappers*/
#main-content {}
#content {
margin-left:5px;
border:1px solid #dddddd;
padding:5px;
}


/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding and #header-blocks. */
#header {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
   
  float: left; /* LTR */
}

/* h1 is for the front page only, all others use the div. */
#branding h1 {
  font-size: 1.3em; /* reset h1, do not change! */
} 

/* Logo and site_name wrapper. */
.logo-site-name {

}
div.logo-site-name,
h1.logo-site-name  {
margin-top:30px;
margin-left:20px;

}

/* Remove display:block if you want the site name inline with the logo. */
.logo-site-name span {
  display: block;
}

/* Logo. */
#logo {

}

#site-name {
  font-weight: bold; /* Bold or else the line heights vary. */
  font-size: 2em;
  line-height: 1.5;
}

/* Override default pseudo class styles. */
#site-name a:link,
#site-name a:visited {}

#site-name a:hover,
#site-name a:focus,
#site-name a:active  {}

/* Site slogan. */
#site-slogan {

}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions - be careful with this one, its easily 
 * over-ridden and will target sidebar inner DIVS as well.
 */
.region {}

/**
 * Each region has a main wrapper DIV and an inner DIV.
 * The following selectors are follow the patter of:
 * #region-name
 * .region-inner-div-name
 */
/* Leaderboard */
#leaderboard {

}
.region-leaderboard {


}

/* Header blocks */
#header-blocks {
 margin-top:50px;
  float: right;
  margin-right:20px;
}
.region-header {}

/* Help */
#help {}
.region-help {}

/* Highlight */
#highlighted {}
.region-highlighted {}

/* Secondary content */
#secondary-content {
padding:10px;}
.region-secondary-content {}

/* Tertiary content */
#tertiary-content {
padding:10px;}
.region-tertiary-content {}

/* Tertiary content */
#footer {
padding:10px;}
.region-footer {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {
margin-top:12px;
}
.sidebar .region {
margin-right:5px;
}

/* Target a specific sidebar. */
#sidebar-first {

}
.sidebar .region-sidebar-first {}
#sidebar-first li {
list-style: none;
background: url("../images/icon_li_orange.png") left 0.4em no-repeat;
padding-left: 12px;
margin-bottom: 3px;
}
#sidebar-second {

}
.sidebar .region-sidebar-second {}
#sidebar-second li {
list-style: none;
background: url("../images/icon_li_orange.png") left 0.4em no-repeat;
padding-left: 12px;
margin-bottom: 3px;
}

/**********************************************************
 *          Search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/* Search page fieldset. */
#search-form {}

/* Basic search form. */
#search-form #edit-basic {}

/* Advanced search form. */
#search-form #edit-advanced {}

/* Use the child selector because the inner div has no class. */
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys {}

#search-form label {}
#search-form input {
font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #777;
  background: #ebebeb url("images/input_bg.png") left top no-repeat;
  border: 1px solid #a2a2a2;
  -moz-border-radius: 2px; /* FF1+ */
  -webkit-border-radius: 2px; /* Saf3+, Chrome */
  -khtml-border-radius: 2px; /* Konqueror */
  border-radius: 2px; /* Standard. IE9 */
   width:300px;
   height:20px;
   padding-left:10px;
}
#search-form .form-item {}
#search-form .form-submit {
  font-family: Arial, sans-serif;
  font-size:1em;
  color: #fff;
  background:#598200;
  
  /* border: 1px solid #a74505; */
  border: 0;
  -moz-border-radius: 2px; /* FF1+ */
  -webkit-border-radius: 2px; /* Saf3+, Chrome */
  -khtml-border-radius: 2px; /* Konqueror */
  border-radius: 2px; /* Standard. IE9 */
  cursor: pointer;
  width:80px;
  height:20px;
}

/* Override forms.css text field focus style. */
#search-form #edit-keys:hover,
#search-form #edit-keys:focus {}

/* Search results list. */
ol.search-results {
  
  padding: 0;
  margin: 0;
}
ol.search-results li {}
ol.search-results .title {}
ol.search-results p {}
ol.search-results .search-snippet {}
ol.search-results .search-info {}


/**********************************************************
 *                Footer, RSS Feed Icon
 **********************************************************/
#footer {
  margin: 0.375em 0;
}

#footer .region {}

.feed-icon {}
.feed-icon img {
  padding:0 0.5em;
}
